@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter:wght@300;500&family=Roboto+Mono:wght@400;500;700&family=Roboto+Slab:wght@400;500;700;900&family=Roboto:wght@400;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}
.header {
    position: fixed;
    display: grid;
    left: 0;
    top: 0;
    width: 100%;
    height: 48px;
    background-color: white;
    grid-template-columns: repeat(3, 33%);
    border-bottom: 1px solid #ebe6e5;
    box-shadow: 0px 4px 8px rgba(70, 63, 20, 0.12);
    padding-bottom: 5rem;
}
    .header .header__user {
        display: flex;
        align-items: center;
    }
        .header .header__user p{
            font-size: 1.8rem;
            margin-left: 20px;
            font-weight: 500;
        }

    .header .header__search{
        display: none;
    }
    .header .header__settings {
        display: flex;
        grid-column-start: 3;
        align-items: center;
        justify-content: flex-end;
    }
        .header .header__settings span{
            width: 30px;
            height: 30px;
            margin-right: 10px;
            background-image: url('../Assets/Iconos/settings.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
.main{
    padding-top: 6rem;
}
.information { 
    width: 100%;
    height: 300px;
}
    .information .information__avatar{
        margin: 0 auto;
        margin-top: 15px;
        border: 50%;
        width: 98px;
        height: 98px;
    }
        .information .information__avatar img{
            border-radius: 50%;
            width: 100%;
            height: 100%;
        }
.information__description{
    display: grid;
    background-color: #e4cfbe;
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 112px;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    margin: 15px auto;
    border-radius: 15px;
}
.information__description .item{
    display: flex;
    justify-content: center;
    padding-top: 5px;
}
.information__description .information__description--name{
    grid-area: 1/2/1/3;  
    margin-top: 10px;
}
.information__description .information__description--name p{
    font-size: 1.8rem;  
    font-weight: bold;
}
.information__description .information__description--followers{
    grid-area: 2/1/2/2;
    justify-content: flex-end;
}
.information__description .information__description--followers p{
    font-size: 1.4rem;
    text-align: center;
    line-height: 1.4rem;
}
.information__description .information__description--followed{
    grid-area:2/3/3/4 ;
    justify-content: flex-start;
}
.information__description .information__description--followed p{
    font-size: 1.4rem;
    text-align: center;
    line-height: 1.4rem;
}

.information__description .information__description--button{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    grid-area: 3/2/4/3;
    width: 100px;
    background-color: white;
    border-radius: 15px;
    margin: 5px auto;
    text-decoration: none;
}
.information__description .information__description--button .icon{
    width: 20px;
    height: 20px;
    background-image: url('../Assets/Iconos/Send.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.information__description .information__description--button p{
    color: black;
    font-size: 1.4rem;
    font-weight: 500;
}
.information .information__grid{
    display: flex;
    justify-content: center;
    width: 80px;
    height: 50px;
    border-bottom: solid black;
    margin: 0 auto;
}
.information .information__grid .grid-icon{
    width: 35px;
    height: 35px;
    background-image: url('../Assets/Iconos/dots3.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(75px, 150px));
    grid-auto-rows: 1fr;
    gap: 2px;
    justify-content: center;
}
.grid img{
    width: 100%;
    height: 100%;
}

.footer{
    display: grid;
    position: fixed;
    bottom: 10px;
    left: calc(50% - 145px);
    width: 290px;
    height: 50px;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 20px;
    background-color: rgb(243, 232, 232);
    box-shadow: 0px 4px 8px rgba(80, 0, 0, 0.30);
    justify-content: space-evenly;
}
    .footer .item {
        display: flex;
        justify-content: center;
        align-items: center;
    }
        .footer .footer__home .footer__home--icon{
            width: 30px;
            height: 30px;
            background-image: url('../Assets/Iconos/home-alt.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        
        .footer .footer__profile .footer__profile--icon{
            width: 30px;
            height: 30px;
            background-image: url('../Assets/Iconos/user-terminal.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover; 
        }
        .footer .footer__more .footer__more--icon{
            width: 30px;
            height: 30px;
            background-image: url('../Assets/Iconos/addmas.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover; 
        }






