.header .header__search{
    display: flex;
    width: 200px;
    height: 30px;
    border-radius: 100px;
    border: 1px solid #b3b3b8;
    margin: 8.5px auto;
    justify-content: space-around;
    align-items: center;
}
.header .header__search input{
    width: 150px;
    height: 20px;
    border: none;
    outline: none;
    margin-left: 1px;
}
.header .header__search--icon{
    width: 20px;
    height: 20px;
    background-image: url('https://cdn0.iconfinder.com/data/icons/google-material-design-3-0/48/ic_search_48px-512.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.grid{
    display: grid;
    max-width: 900px;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(75px, 300px));
    grid-auto-rows: 1fr;
    gap: 2px;
    justify-content: center;
}
.grid img{
    width: 100%;
    height: 100%;
}
.grid img:hover{
    transform: scale(1.5);
}